<h1>Add new course</h1>

<form action="/add" method="post">
    <div class="input-field col s6">
        <input id="title" name='title' type="text" required class="validate">
        <label for="title">Title</label>
        <span class="helper-text" data-error="Incorrect name"></span>
    </div>

    <div class="input-field col s6">
        <input id="price" name='price' type="text" required class="validate">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Invalid price"></span>
    </div>

    <div class="input-field col s6">
        <input id="imgUrl" name='imgUrl' type="text" required class="validate">
        <label for="imgUrl">URL of image</label>
        <span class="helper-text" data-error="Incorrect URL"></span>
    </div>
    <input type="hidden" name="_csrf" value={{csurf}}>
    <button class='btn btn-primary' type="submit">Add course</button>
</form>